/*Styles for my claswork website*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2D2D2D;
}
	
/* I will be using backgroud colors, heights, widths and floats for my containers*/


header{
    
    background: #2D2D2D;
}
.row{
    max-width: 1100px;
    margin: 0 auto;
}
#logo{
    width:190px;
    margin: 20px 0 15px 0 ;
    
}
#error{
    width: 600px;
    height: 150px;
    margin: 20px 0 15px 0 ;

}
#instalation{
    width: 490px;
    margin: 20px 0 15px 0 ;
    
}
/*Navigations Starts Here*/
nav{
    height: 50px;
    line-height: 50px;
    background: red;
}
nav ul{
    width: 1200;
    margin: 0 auto;
}

nav li{
    float: left;
    list-style-type: none;
    text-align: center;
    width: 16.66%;
}
nav a{
    color: white;
    text-decoration: none;
}

nav a:hover{
    font-size: 108%;
    color: mediumaquamarine;
    display: block;
    background: gray;
        
}


.wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

main{
    width: 45%;
    float: left;
    background: #2d2d2d;
    height: 400px;
}

aside{
    margin-top: 70px;
    width: 45%;
    float: right;
    background: #2d2d2d;
    height: 400px;
}

footer{
    height: 300px;
    background: white;
    clear: both;
    
}

.copyright{
    height: 50px;
    line-height: 50px;
    background: orange;
    
    
}
.copyright li{
    float: left;
    list-style-type: none;
    margin-right: 30px;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover{
    font-size: 108%;
}


h1 {
color: #C26356;
font-size: 30px;
font-family: Menlo, Monaco, fixed-width;
}
		
p {
color: white;
font-family: "Source Code Pro", Menlo, Monaco, fixed-width;
}