/*Styles for my new IMPORTANT website*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background: beige;
}
.active{
    color: green;
}
.home{
    background: beige;
}
.about{
    background: #ddd;
}
.center{
    text-align: center;
}
header{
    margin-bottom: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}
.inner-header{
    width: 940px;
    margin: 20px auto;
}
#logo{
    width: 150px;
    float: left;
}
nav ul{
    float: right;
}
nav li{
    float: left;
    margin-left: 15px;
    list-style-type: none;
}
nav a{
    text-decoration: none;
}
#wrapper{
    clear: both;
    width: 940px;
    margin: 0 auto;
}
main{
    width: 580px;
    float: left;
}
aside{
    width: 340px;
    float: right;
    background: lightblue;
    margin-top: 15px;
}
aside img{
    margin: 10px auto 15px auto;
}
footer{
    height: 50px;
    line-height: 50px;
    border-top: 2px solid tan;
    clear: both;
}
footer li{
    float: left;
    margin-right: 30px;
    list-style-type: none;
}
img{
    max-width: 100%;
    display: block;
}
blockquote{
    font-size: 1.4em;
    margin: 20px 100px;
}
.home h1{
    font-size: 3em;
    font-weight: 200px;
    margin-bottom: 12px;
}
 h1{
    font-size: 2em;
    font-weight: 200px;
    margin-bottom: 9px;
}
p{
    margin-bottom: 22px;
}


/*Table*/


table{
    border:2px solid tan;
    width: 480px;
    padding: 20px;
    margin-bottom: 20px;
}
.candidates td:nth-child(1)
.candidates td:nth-child(2){
    width: 150px; 
}
.candidates td:nth-child(2){
    padding-left: 20px;
}
/*Form CSS*/


form{
    max-width: 580px;
    margin-bottom: 20px;
    }
    input{
        margin-bottom: 10px;
    }
    input[type=text],
    input[type=email],
    input[type=tel],
    textarea{
        width: 100%;
        height: 30px
    }
    textarea{
        height: 120px;
    }
    fieldset{
        color: darkgray;
        padding: 10px 15px 10px 10px;
    }
    label{
        display:block;
        margin-bottom: 5px;
    }
    .box{
        width: 600px;
        margin: 20px auto;
        background: beige;
        padding: 20px;
        border: 1px solid green;
    }
    select{
        margin-bottom: 10px;
    }
    span{
        display: block;
        color: red;
        font-style: italic;
    }
li{
    list-style-type: none;
}